.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  justify-content: center;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 45ch;
  margin-bottom: 4rem;
  color: #525252;
}

.experiencia-texto strong {
  color: black;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
  background-color: #f5f5f5;
  padding: 1.5rem;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  position: relative;
}

.empresa::before {
  content: "";
  height: 1.125rem;
  width: 0.25rem;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 1.5rem;
  left: -0.25rem;
}

.empresa-ano {
  position: absolute;
  top: 1.55rem;
  left: -5.6rem;
  font-size: 0.875rem;
  color: #525252;
  width: 5rem;
  text-align: right;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 1rem;
  color: #525252;
  line-height: 1.4;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: white;
  padding: 5px 10px;
}

@media (max-width: 900px) {
  .experiencia .subtitulo {
    font-size: 7rem;
  }
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 0rem;
    justify-items: center;
  }
  .experiencia .subtitulo {
    font-size: 5rem;
    max-width: none;
    text-align: center;
  }
  .experiencia-texto {
    text-align: center;
    max-width: none;
    margin: 2rem 6rem;
  }
  .empresa {
    margin: 1rem 6rem;
  }
}

@media (max-width: 600px) {
  .experiencia .subtitulo {
    font-size: 3.7rem;
    max-width: none;
    text-align: center;
  }

  .experiencia-texto {
    margin: 1rem 4rem;
  }

  .empresa {
    grid-template-columns: 1fr;
    margin: 1rem 4rem;
  }

  .empresa-texto {
    grid-row: 3;
  }

  .empresa::before {
    width: 1.125rem;
    height: 0.25rem;
    left: 1.5rem;
    top: 3rem;
  }

  .empresa-ano {
    position: initial;
    text-align: left;
  }
}

@media (max-width: 450px) {
  .empresa {
    margin: 1rem 2.5rem;
  }
  .experiencia .subtitulo {
    font-size: 2.9rem;
  }
  .experiencia-texto {
    font-size: 1.1rem;
    margin: 1rem 2.5rem;
  }
}

@media (max-width: 350px) {
  .experiencia {
    padding: 0 auto;
  }
  .experiencia .subtitulo {
    font-size: 2.2rem;
  }
  .experiencia-texto {
    font-size: 1.1rem;
    margin: 1rem 0rem;
  }
  .empresa {
    margin: 1rem 0rem;
  }
}
