.footer {
  background: #000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
}

.footer-contato {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #ccc;
}

.footer-copy {
  font-size: 1.5rem;
  color: #8f8f8f;
  grid-column: 1 / -1;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 5rem 4rem;
  }

  .footer-texto,
  .footer-contato,
  .footer-copy {
    font-size: 1.3rem;
    text-align: center;
  }
}
