body {
  margin: 0;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  text-transform: uppercase;
  line-height: 1;
  word-break: break-all;
  max-width: 5ch;
}
