.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2rem;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 1.5rem 2.5rem;
  color: #141414;
  display: block;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 2.5rem;
    padding: 1rem;
  }
  .header-menu a {
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 0.7rem 1.5rem;
  }
}
